<style>
.glyphicon-red-dot:before {
	content: "\25cf";
	font-size: 2em;
	color: red;
}

.glyphicon-green-dot:before {
	content: "\25cf";
	font-size: 2em;
	color: green;
}
</style>

	<div class='container'>
		<div id="filters" class="row">
			<div class="col-md-6">
				<div class='col-md-11'>
					<div class='row'>
						<span class="well-label">Drug Filter</span> <a
							class='clear-btn btn btn-danger btn-xs'>Clear</a>
					</div>
					<div class='row'>
						<div id='drug-filter' class='filter well'></div>
					</div>
				</div>
				<!-- div class=col-md-6>
					<div class='row'>
						<span class="well-label">Event Filter</span> <a
							class='clear-btn btn btn-danger btn-xs'>Clear</a>
					</div>
					<div class="row">
						<div id='event-filter' class='filter well'></div>
					</div>
				</div-->
			</div>
			<div class="col-md-6">
				<div class="row">
					<span class="well-label">Candidate ADR Filter (Patient Count)</span> 
					<a class='clear-btn btn
					btn-danger btn-xs'>Clear</a>
				</div>
				<div class="row">
					<div id='candidate-filter' class='filter well'></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id='patientList' class='well col-md-12'></div>
		</div>
	</div>

